<!doctype html>
<html class='no-js'>
  <head>
    <title><%= appname %></title>

    <meta charset='utf-8'>
    <meta name='author' content=''/>
    <meta name='description' content=''/>
    <meta name='keywords' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <meta property='og:url' content=''/>
    <meta property='og:image' content='/images/og-image.png'/>
    <meta property='og:title' content='<%= appname %>'/>
    <meta property='og:description' content=''/>

    <link rel='shortcut icon' href='/images/favicon.png'/>
    <link rel='apple-touch-icon' href='/images/apple-touch-icon.png' />
    <link rel='apple-touch-icon' sizes='57x57' href='/images/apple-touch-icon-57x57.png' />
    <link rel='apple-touch-icon' sizes='72x72' href='/images/apple-touch-icon-72x72.png' />
    <link rel='apple-touch-icon' sizes='114x114' href='/images/apple-touch-icon-114x114.png' />

    <!-- build:css styles/main.css --><% if (css == 'Vanilla') { %>
    <!-- bower:css -->
    <!-- endbower -->
    <link rel='stylesheet' href='/styles/base/normalize.css'>
    <link rel='stylesheet' href='/styles/base/typography.css'>
    <link rel='stylesheet' href='/styles/base/layout.css'><% } else { %>
    <link rel='stylesheet' href='/styles/main.css'><% } %>
    <!-- endbuild --><% if (includeModernizr) { %>

    <!-- build:js scripts/vendorh.js -->
    <script src='bower_components/modernizr/modernizr.js'></script>
    <!-- endbuild --><% } %>
  </head>
  <body>
    <!-- TODO: change UA-XXXXX-X to be your site's ID. -->
    <script>(function(e,t,n,r,i,s){e.GoogleAnalyticsObject=r;e[r]||(e[r]=function(){(e[r].q=e[r].q||[]).push(arguments)});e[r].l=+(new Date);i=t.createElement(n);s=t.getElementsByTagName(n)[0];i.src='//www.google-analytics.com/analytics.js';s.parentNode.insertBefore(i,s)})(window,document,'script','ga');ga('create','UA-XXXXX-X');ga('send','pageview')</script>

    Hello, World!<% if (!includeBrowserify) { %>

    <!-- build:js scripts/vendorb.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild --><% } %>
  </body>
</html>
